@{
    ViewData["Title"] = "Administration";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<div class="row">
    <div class="col-lg-8">
        <form>
            <div class="form-group">
                <h5>Username</h5>
                <h5>Password</h5>
                <button class="btn btn-info">Go</button>
            </div>
        </form>
    </div>
</div>
