IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__StaffTabl__MemID__33D4B598]') AND parent_object_id = OBJECT_ID(N'[dbo].[StaffTable]'))
ALTER TABLE [dbo].[StaffTable] DROP CONSTRAINT [FK__StaffTabl__MemID__33D4B598]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__MemRe__31EC6D26]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MemberTable] DROP CONSTRAINT [DF__tmp_ms_xx__MemRe__31EC6D26]
END

GO
/****** Object:  Table [dbo].[StaffTable]    Script Date: 07/06/2017 18:13:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StaffTable]') AND type in (N'U'))
DROP TABLE [dbo].[StaffTable]
GO
/****** Object:  Table [dbo].[MemberTable]    Script Date: 07/06/2017 18:13:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MemberTable]') AND type in (N'U'))
DROP TABLE [dbo].[MemberTable]
GO
/****** Object:  Table [dbo].[AdminTable]    Script Date: 07/06/2017 18:13:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdminTable]') AND type in (N'U'))
DROP TABLE [dbo].[AdminTable]
GO
/****** Object:  Database [FelicityLive]    Script Date: 07/06/2017 18:13:37 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'FelicityLive')
DROP DATABASE [FelicityLive]
GO
/****** Object:  Database [FelicityLive]    Script Date: 07/06/2017 18:13:37 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'FelicityLive')
BEGIN
CREATE DATABASE [FelicityLive] ON  PRIMARY 
( NAME = N'FelicityLive', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER1\MSSQL\DATA\FelicityLive.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FelicityLive_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER1\MSSQL\DATA\FelicityLive_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FelicityLive].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FelicityLive]
GO
/****** Object:  Table [dbo].[AdminTable]    Script Date: 07/06/2017 18:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdminTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AdminTable](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [varchar](max) NOT NULL,
	[AdminEmail] [varchar](max) NOT NULL,
	[AdminPinCode] [varchar](max) NOT NULL,
 CONSTRAINT [PK__tmp_ms_x__719FE4E88144EE20] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MemberTable]    Script Date: 07/06/2017 18:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MemberTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MemberTable](
	[MemID] [int] IDENTITY(1,1) NOT NULL,
	[MemFirstname] [varchar](max) NOT NULL,
	[MemLastname] [varchar](max) NOT NULL,
	[MemPhonenumber] [varchar](max) NOT NULL,
	[MemDOB] [date] NOT NULL,
	[MemPostcode] [varchar](max) NOT NULL,
	[MemStatus] [bit] NOT NULL,
	[MemRegDate] [date] NOT NULL,
	[IsStaff] [bit] NOT NULL,
	[MemFacialImage] [image] NOT NULL,
 CONSTRAINT [PK__tmp_ms_x__E9341AE215E94679] PRIMARY KEY CLUSTERED 
(
	[MemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[StaffTable]    Script Date: 07/06/2017 18:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StaffTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StaffTable](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[BadgeNo] [int] NOT NULL,
	[MemID] [int] NOT NULL,
 CONSTRAINT [PK__StaffTab__96D4AAF7709A9B30] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__tmp_ms_xx__MemRe__31EC6D26]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MemberTable] ADD  CONSTRAINT [DF__tmp_ms_xx__MemRe__31EC6D26]  DEFAULT (getdate()) FOR [MemRegDate]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__StaffTabl__MemID__33D4B598]') AND parent_object_id = OBJECT_ID(N'[dbo].[StaffTable]'))
ALTER TABLE [dbo].[StaffTable]  WITH CHECK ADD  CONSTRAINT [FK__StaffTabl__MemID__33D4B598] FOREIGN KEY([MemID])
REFERENCES [dbo].[MemberTable] ([MemID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__StaffTabl__MemID__33D4B598]') AND parent_object_id = OBJECT_ID(N'[dbo].[StaffTable]'))
ALTER TABLE [dbo].[StaffTable] CHECK CONSTRAINT [FK__StaffTabl__MemID__33D4B598]
GO
