<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="FelicityLiveEntities" connectionString="metadata=res://*/DataModel.FelicitySecurity.csdl|res://*/DataModel.FelicitySecurity.ssdl|res://*/DataModel.FelicitySecurity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T69TDHC\MSSQLSERVER1;initial catalog=FelicityLive;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_IFelicityDataService">
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                           algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51333/FelicitySecurityDataService.asmx" 
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
                contract="FelicitySecurityDataServiceReference.FelicitySecurityDataServiceSoap"
                name="BasicHttpBinding_IFelicityDataService"/>
      <endpoint address="http://localhost:51333/FelicitySecurityDataService.asmx"
                binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_IFelicityDataService"
                contract="FelicitySecurityDataServiceReference.FelicitySecurityDataServiceSoap"
                name="wsHttpBinding_IFelicityDataService"/>
    </client>
  </system.serviceModel>
</configuration>