<?xml version="1.0" encoding="utf-8" ?>

<!-- Copyright ©) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <add name="FelicityLiveEntities" connectionString="metadata=res://*/DataModel.FelicitySecurity.csdl|res://*/DataModel.FelicitySecurity.ssdl|res://*/DataModel.FelicitySecurity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T69TDHC\MSSQLSERVER1;initial catalog=FelicityLive;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <binding name="wsbind">
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                           algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" />
      </basicHttpBinding>
    
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FelicitySecurityDataServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FelicitySecurity.Services.FelicitySecurityDataService"
               behaviorConfiguration="FelicitySecurityDataServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:51333/FelicitySecurityDataService.asmx"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:51333/FelicitySecurityDataService.asmx" binding="wsHttpBinding" bindingConfiguration="wsbind" contract="FelicitySecurityDataServiceReference.FelicitySecurityDataServiceSoap" name ="wsHttpBinding_IFelicityDataService"/>
        <endpoint address="http://localhost:51333/FelicitySecurityDataService.asmx" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="FelicitySecurityDataServiceReference.FelicitySecurityDataServiceSoap" name="BasicHttpBinding_IFelicityDataService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>