<?xml version="1.0" encoding="utf-8" ?>

<!-- Copyright ©) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <compilation debug="true" targetFramework="4.6.1" />
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="FelicitySecurityDataServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FelicitySecurity.Services.FelicitySecurityDataService"
               behaviorConfiguration="FelicitySecurityDataServiceBehaviour">
        <endpoint address="http://localhost:51333/FelicitySecurityDataService.asmx" binding="basicHttpBinding" contract="FelicitySecurity.Services.IFelicitySecurityDataService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>