<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright ©) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FelicitySecurityDataServiceBehaviour">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FelicitySecurity.Services.FelicitySecurityDataService"
               behaviorConfiguration="FelicitySecurityDataServiceBehaviour">
        <endpoint address="http://localhost:51333/FelicitySecurityDataService.asmx" binding="basicHttpBinding" contract="FelicitySecurity.Services.IFelicitySecurityDataService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>